#aboutContent {
  background: rgb(111,45,189);
  background: linear-gradient(0deg, rgba(111,45,189,1) 64%, rgba(255,255,255,0) 100%);
  display: grid;
  grid: auto-flow / 1fr 1fr;
  color:white;
  padding-top: 10%;
}

.techRow {
  margin: 10px;
  text-align: center;
}

.techRow svg {
  width: 40px;
  height: 40px;
  display: inline;
}

#techList {
  display: flex;
  flex-wrap: wrap;
}


@media (min-width: 100px) and (max-width: 575px) {
  #aboutContent {
    grid: auto-flow / 1fr;
    background: rgb(111,45,189);
    background: linear-gradient(0deg, rgba(111,45,189,1) 80%, rgba(255,255,255,0) 100%);
  }

  #tech {
    margin: 5%;
  }
  
  #aboutMe {
    margin: 5%;
    margin-top: 12%;
  }
}


@media (min-width: 576px) {
  #aboutContent {
    grid: auto-flow / 1fr;
    background: rgb(111,45,189);
    background: linear-gradient(0deg, rgba(111,45,189,1) 80%, rgba(255,255,255,0) 100%);
  }

  #tech {
    margin: 5%;
  }
  

  #aboutMe {
    margin-top: 12%;
    margin: 5%;
  }
}


@media (min-width: 768px) {
  #aboutContent {
    grid: auto-flow / 1fr;
  }
  #tech {
    margin: 5%;
  }
  
  #aboutMe {
    margin-top: 12%;
    margin: 5%;
  }
}

@media (min-width: 992px) {
  #aboutContent {
    background: rgb(111,45,189);
    background: linear-gradient(0deg, rgba(111,45,189,1) 64%, rgba(255,255,255,0) 100%);
    display: grid;
    grid: auto-flow / 1fr 1fr;
    color:white;
    padding-top: 10%;
  }
  
  .techRow {
    margin: 10px;
    text-align: center;
  }
  
  .techRow svg {
    width: 40px;
    height: 40px;
    display: inline;
  }
  
  #techList {
    display: flex;
    flex-wrap: wrap;
  }
  
  #aboutMe {
    margin-left: 10%;
    margin-top: 12%;
  }
  
  #tech {
    margin-left: 15%;
    margin-top: 12%;
  }
}

@media (min-width: 1200px) {
  #aboutContent {
    background: rgb(111,45,189);
    background: linear-gradient(0deg, rgba(111,45,189,1) 64%, rgba(255,255,255,0) 100%);
    display: grid;
    grid: auto-flow / 1fr 1fr;
    color:white;
    padding-top: 10%;
  }
  
  .techRow {
    margin: 10px;
    text-align: center;
  }
  
  .techRow svg {
    width: 40px;
    height: 40px;
    display: inline;
  }
  
  #techList {
    display: flex;
    flex-wrap: wrap;
  }
  
  #aboutMe {
    margin-left: 10%;
    margin-top: 12%;
  }
  
  #tech {
    margin-left: 15%;
    margin-top: 12%;
  }
}


