#bg {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #6f2dbd;
  transform: skewY(-6deg);
  transform-origin: top left;
}

#contactContainer {
  position: relative;
  background-color: #6f2dbd;
  height: 50vh; 
  margin-top: 60vh;
}

.contact {
  display: flex;
}

.contactText {
  padding: 10px;
}