#contactContainer {
  background: rgb(213,199,252);
  background: linear-gradient(0deg, rgba(213,199,252,1) 0%, rgba(202,174,238,1) 10%, rgba(111,45,189,1) 100%);
  color:white;
  padding: 50px;
}

#contactContainer h1 {
  text-align: center;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.contactText {
  padding: 10px;
}

form {
  color:white;
}

#contactContainer a {
  color:white;
}

@media (min-width: 100px) and (max-width: 575px) {
  .contact {
    display: inline-block;
  }
}


@media (min-width: 576px) {
  .contact {
    display: inline-block;
  }
}


@media (min-width: 768px) {
  .contact {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .contact {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}