svg {
  margin-bottom:-388px;
}

#svgContact {
  margin-top: 10%;
}

#contactContainer {
  position: relative;
  background-color: #6f2dbd;
  height: 50vh; 
  margin-top: 60vh;
  color:white;
  padding: 50px;
  padding-bottom: 35vh;
}

#contactContainer h1 {
  text-align: center;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.contactText {
  padding: 10px;
}