#projectsContainer {
  height: 65vh;
}

#projectsContainer h1 {
  text-align: center;
}

#projectsContainer img {
  height:300px;
}
.project {
  display: flex;
  margin: 50px;
  width: 50%;
  margin-left: 25vh;
}

.projectText {
  margin-top: 65px;
  padding: 5px;
  width: 30%;
  background-color: white;
  -webkit-box-shadow: 9px 11px 22px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 9px 11px 22px 0px rgba(0,0,0,0.36);
  box-shadow: 9px 11px 22px 0px rgba(0,0,0,0.36);
  position: absolute;
  left:575px;
}