#projectsContainer h1 {
  text-align: center;
}

#projectsContainer img {
  width: 60%;
}

.project {
  display:flex;
  margin: 0 auto;
  width: 75%;
  align-items: center;
  margin-bottom: 5%;
}

.projectText {
  width: 40%;
  margin: 15px;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 9px 11px 22px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 9px 11px 22px 0px rgba(0,0,0,0.36);
  box-shadow: 9px 11px 22px 0px rgba(0,0,0,0.36);
}
