.introContainer {
  width: 50%;
  margin: 0 auto;
  display: flex;
  margin-top: 10%;
  height: 50vh;
}

.intro {
  width: 70%;
}

.introImage { 
  width: 30%;
  height: 10%;
  background-color: grey;
}