ul#links li {
  display: inline;
  margin-left: 10%;
  border-bottom: 5px solid purple;
}

ul#links {
  list-style: none;
  margin-right: 10%;
}

#navbar {
  -webkit-box-shadow: 6px 8px 19px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 6px 8px 19px 0px rgba(0,0,0,0.33);
  box-shadow: 6px 8px 19px 0px rgba(0,0,0,0.33);
  height: 4em;
  display: flex;
  justify-content: flex-end;
  margin:-10px;
  position: fixed;
  width: 100%;
}
