ul#links li {
  display: inline;
  margin-left: 10%;
}

ul#links {
  list-style: none;
}

#navbar {
  -webkit-box-shadow: 6px 8px 19px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 6px 8px 19px 0px rgba(0,0,0,0.33);
  box-shadow: 6px 8px 19px 0px rgba(0,0,0,0.33);
  height: 4em;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top:0;
  overflow: hidden;
  background-color: white;
  z-index:999;
}

